doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Primeros Pasos SCSS 13 Diciembre del 2021
    body 
        .container 
            .box1
            .box2
            .box3
            .box4
            .box5 